element.style {
    --header-height: 140px;
}
:root {
    --border-radius-block: 16px;
    --border-radius-default: 8px;
    --border-radius-default-inner: 4px;
    --padding-element: 4px;
}
:root {
    --white-80: rgba(255, 255, 255, .8);
    --white-100: #fff;
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cad5e2;
    --slate-400: #90a1b9;
    --slate-500: #62748e;
    --slate-600: #45556c;
    --slate-700: #314158;
    --slate-800: #1d293d;
    --slate-900: #0f172b;
    --slate-950: #020618;
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #99a1af;
    --gray-500: #6a7282;
    --gray-600: #4a5565;
    --gray-700: #364153;
    --gray-800: #1e2939;
    --gray-900: #101828;
    --gray-950: #030712;
    --red-50: #fef2f2;
    --red-100: #ffe2e2;
    --red-200: #ffc9c9;
    --red-300: #ffa2a2;
    --red-400: #ff6467;
    --red-500: #fb2c36;
    --red-600: #e7000b;
    --red-700: #c10007;
    --red-800: #9f0712;
    --red-900: #82181a;
    --red-950: #460809;
    --orange-50: #fff7ed;
    --orange-100: #ffedd4;
    --orange-200: #ffd6a8;
    --orange-300: #ffb86a;
    --orange-400: #ff8904;
    --orange-500: #ff6900;
    --orange-600: #f54a00;
    --orange-700: #ca3500;
    --orange-800: #9f2d00;
    --orange-900: #7e2a0c;
    --orange-950: #441306;
    --amber-50: #fffbeb;
    --amber-100: #fef3c6;
    --amber-200: #fee685;
    --amber-300: #ffd230;
Show all properties (340 more)
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    line-height: 1.15;
}
html, body {
    width: 100%;
    height: 100%;
}
* {
    font-synthesis: none !important;
}
*, :before, :after {
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "ru";
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}